
header {
  border-right: 15px; 
  border-style: solid;
  border-color: black;
  text-align: center;
  font-family: Times, serif;
  font-variant: small-caps;
  font-weight: 500; 
}
aside {
  text-align: right;
  border-right: 15px solid gray ;
  padding-right: 20px;

}
aside strong {
  font-weight: bold;
}
aside {
  float: right; 
  margin-left: 20px; 
}

h1 {
  float: left; 
  margin-right: 20px; 
}
h2 {
  font-style: italic;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 80px;
  float:middle;
  margin: 70px;
  text-align: center;
}
p {
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
}
.border-left {
  margin:auto;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 20px;
  border-left: 30px Blue; 
  border-style: solid;
  border-color: blue;
  line-height: 1.6; 
  background-color: yellow;
}
body {
    background-image: url(WidgetCoLogo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background: size 600px;
  }
footer {
  border-top: 1px solid black;
  width:100% ;
  position:relative;
  bottom: 0;
  right: 0;
  font-style: italic;
  color: gray;
  padding: 10px;
  text-align: right;  
}

footer a {
  color: gray;
}
